.main-header{
    ul{
    display: flex;
    color: white;
    background-color: #4c4c4c;
    list-style: none;
    justify-content: space-evenly
    }
    a:hover{
        text-decoration: none;
        color: white;

    }
    a:link{
        text-decoration: none;
        color: white;
    }
}